@font-face {
  font-family: Lumberjack;
  src: url('/fonts/lumberjack.inline-rough.otf') format('opentype');
}
@font-face {
  font-family: SourceSansPro;
  src: url('/fonts/SourceSansPro-ExtraLight.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Animations */
.animate_class {
  stroke-width: 1;
  stroke: black;
  stroke-dasharray: 492;
  stroke-dashoffset: 492;
  animation-name: draw;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  animation-direction:alternate;
    animation-timing-function: linear;
}
.animate_pendulum {
  
  animation-name: pendulum;
  transform-origin: 25% -1%;
  
  animation: pendulum  5s ease-in-out infinite;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes pendulum {
  0%, 100% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
}
/* flame animations */
.flame{
	width:150px;
	height:150px;
	background:linear-gradient(-45deg, purple, rgb(221, 134, 221));
	border-radius: 150px 150px 0px 150px;
	transform:rotate(-135deg);
	animation:.3s flame infinite;
	filter:blur(10px);
	position:relative;
	box-shadow:17px 20px 90px rgb(49, 4, 80);
	border:45px solid black;
	border-left-width:25px;
	border-top-width:25px;
}
@keyframes flame{
  0% {height:150px; width:150px;}
  50% {height:140px; width:140px;}
  100% {height:150px; width:150px;}
}



.inner-wrap {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(180deg, transparent 0, #0c1118 250px);
  height: 100%;
  min-height: 250px;
  padding: 3em 20px;
  text-align: center;
}
.inner-wrap h2 {
  font-family: Lumberjack;
}
.inner-wrap h3 {
  font-family: SourceSansPro;
  font-style: light;
  font-weight: 300;
}

.containerFont{
    font-weight: 300;
    font-style: light;
    font-family: SourceSansPro;
}
.containerDescription {
  width: auto;
  max-width: 768px;
  margin: auto;
  padding: 0 1em;
  font-weight: 300;
  font-style: light;
  font-family: SourceSansPro;
  display: grid;
  gap: 1em;
  grid-template-columns: 2fr 1fr;
}
.containerContacts {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  padding: 0 1em;
  font-weight: 300;
  font-style: light;
  font-family: SourceSansPro;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr;
}
.containerForm {
  width: auto;
  max-width: 1170px;
  margin: auto;
  padding: 0 1em;
  font-weight: 300;
  font-style: light;
  font-family: SourceSansPro;
}
.borderleft {
  border-color: rgba(55, 65, 81, 1);
  border-left-width: 2px;
}

.btnBlue{
    border-width: 2px;
    border-color:#74b9ff;
    color: #74b9ff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
      }
}
@media screen and (max-width: 980px) {
  .containerDescription {
    display: block;
  }
  .borderleft {
    border-left-width: 0px;
  }
  .containerContacts {
    display: block;
  }
  .hideOnSmall {
    display: none;
  }
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 22px;
      }
}